<% content_for(:title) { "Swoop & Poop dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="4" data-sizey="2">
      <div data-id="fellow_bios" data-view="Bios" data-title="2013 Fellows"></div>
    </li>


  </ul>
</div>
