<% content_for(:title) { "Swoop & Poop dashboard" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="2">
      <div data-id="most_tweets" data-view="List" data-title="Top 10 Fellows Who Tweet The Most"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="cfa2013_hashtag" data-view="Comments" data-title="#cfa2013" data-moreinfo="Tweets tagged with #cfa2013"></div>
    </li>

    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="fact" data-view="Text" data-title="Random Fun Fact"></div>
    </li>
  </ul>
</div>