<% content_for(:title) { "2013 Fellows Fun Facts, Tweets & GitHub commits" } %>
<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="fun_facts" data-view="Facts" data-title="Fun Facts about 2013 Fellows"></div>
    </li>

    <li data-row="1" data-col="2" data-sizex="2" data-sizey="1">
      <div data-id="cfa2013_hashtag" data-view="Comments" data-title="#cfa2013" data-moreinfo="Tweets tagged with #cfa2013"></div>
    </li>

    <li data-row="2" data-col="1" data-sizex="4" data-sizey="1">
      <div data-id="cfa_github" data-view="Github" data-title="CfA GitHub commits"></div>
    </li>
  </ul>
</div>